body {
  background-color: #f3f3f3;
}

code {
  font-family: Noto Serif SC;
}

.header-inner {
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.06);
}

.sidebar-inner {
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.06);
}

.main-inner {
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.06);
}

if (hexo-config('codeblock.copy_button.style') == 'mac') {
  figure.highlight {
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.1);
  }
}

.post-body {
  font-size: 0.95em
}

.post-copyright {
  font-size: 0.85em
}
